type project
id Aardvark.PixImage.Pfim
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl https://mit-license.org
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.piximage.pfim
description
    Aardvark is an open-source platform for visual computing, real-time graphics and visualization.
include-pdbs true