type project
id Aardvark.Data.Ifc
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
repositoryType git
repositoryUrl https://github.com/aardvark-platform/aardvark.data.ifc
description
    Simple IFC loader for the Aardvark platform.
include-pdbs true