framework: auto-detect
storage: none
source https://api.nuget.org/v3/index.json

nuget Aardvark.Build                    ~> 1.0.22
nuget FSharp.Core                       >= 5.0.1 lowest_matching: true

// Aardvark Base
nuget Aardvark.Base                     ~> 5.2.4
nuget Aardvark.Base.Tensors             ~> 5.2.4

// Aardvark Algodat
nuget Aardvark.Geometry.PolyMesh        ~> 5.3.0

nuget DevILSharp                        ~> 0.2.20
nuget SixLabors.ImageSharp              ~> 2.1.8
nuget System.Drawing.Common             >= 4.7.0 lowest_matching: true

// XBim does not have proper version constraints so we declare and reference everything explicitly
nuget Xbim.Ifc                                              ~> 5.1.341
nuget Xbim.Ifc2x3                                           ~> 5.1.341
nuget Xbim.Ifc4                                             ~> 5.1.341
nuget Xbim.IO.Esent                                         ~> 5.1.341
nuget Xbim.IO.MemoryModel                                   ~> 5.1.341
nuget Xbim.Essentials                                       ~> 5.1.341
nuget Xbim.Common                                           ~> 5.1.341
nuget Xbim.Tessellator                                      ~> 5.1.341
nuget Xbim.Geometry                                         ~> 5.1.437
nuget Xbim.Geometry.Engine.Interop                          ~> 5.1.437
nuget Xbim.ModelGeometry.Scene                              ~> 5.1.437
nuget Microsoft.Extensions.Logging                          >= 3.1.3 lowest_matching: true             
nuget Microsoft.Extensions.Logging.Abstractions             >= 3.1.3 lowest_matching: true
nuget Microsoft.Extensions.Configuration.Abstractions       >= 3.1.3 lowest_matching: true
nuget Microsoft.Extensions.Configuration.Binder             >= 3.1.3 lowest_matching: true
nuget Microsoft.Extensions.DependencyInjection.Abstractions >= 3.1.3 lowest_matching: true
nuget Microsoft.Extensions.Options                          >= 3.1.3 lowest_matching: true
nuget Microsoft.Extensions.Primitives                       >= 3.1.3 lowest_matching: true 

group Test
    framework: auto-detect
    storage: none
    source https://api.nuget.org/v3/index.json
    
    nuget NUnit                    ~> 3.13.3
    nuget FsUnit                   ~> 5.4.0
    nuget FsCheck                  ~> 2.16.4
    nuget FsCheck.NUnit            ~> 2.16.4
    nuget NUnit3TestAdapter        ~> 4.5.0
    nuget Microsoft.NET.Test.Sdk   ~> 17.7.2
    nuget Expecto                  ~> 10.1.0
    nuget Expecto.FsCheck          ~> 10.1.0
    nuget YoloDev.Expecto.TestSdk  ~> 0.14.2

    nuget BenchmarkDotNet          ~> 0.13.9