framework: auto-detect
storage: none
source https://api.nuget.org/v3/index.json

nuget Aardvark.Build                                        ~> 2.0.3
nuget FSharp.Core                                           >= 8.0.0 lowest_matching: true

// Aardvark Base
nuget Aardvark.Base                                         ~> 5.3.6
nuget Aardvark.Base.Tensors                                 ~> 5.3.6

// Aardvark Rendering
nuget Aardvark.Rendering.Common                             >= 5.5.0 lowest_matching: true

// Aardvark Algodat
nuget Aardvark.Geometry.PolyMesh                            ~> 5.5.0

nuget DevILSharp                                            ~> 0.2.20
nuget SixLabors.ImageSharp                                  ~> 2.1.9
nuget Pfim                                                  ~> 0.11.2
nuget System.Drawing.Common                                 >= 8.0.0 lowest_matching: true

nuget glTF2Loader                                           ~> 1.1.4-alpha

nuget SharpZipLib                                           ~> 1.4.1

// XBim does not have proper version constraints so we declare and reference everything explicitly
nuget Xbim.Ifc                                              ~> 6.0.489
nuget Xbim.Ifc2x3                                           ~> 6.0.489
nuget Xbim.Ifc4                                             ~> 6.0.489
nuget Xbim.IO.Esent                                         ~> 6.0.489
nuget Xbim.IO.MemoryModel                                   ~> 6.0.489
nuget Xbim.Essentials                                       ~> 6.0.489
nuget Xbim.Common                                           ~> 6.0.489
nuget Xbim.Tessellator                                      ~> 6.0.489
nuget Xbim.Geometry                                         ~> 6.1.801-netcore
nuget Xbim.Geometry.Engine.Interop                          ~> 6.1.801-netcore
nuget Xbim.ModelGeometry.Scene                              ~> 6.1.801-netcore

group Test
    framework: auto-detect
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget NUnit                                             ~> 3.13.3
    nuget FsUnit                                            ~> 5.4.0
    nuget FsCheck                                           ~> 2.16.4
    nuget FsCheck.NUnit                                     ~> 2.16.4
    nuget NUnit3TestAdapter                                 ~> 4.5.0
    nuget Microsoft.NET.Test.Sdk                            ~> 17.7.2
    nuget Expecto                                           ~> 10.1.0
    nuget Expecto.FsCheck                                   ~> 10.1.0
    nuget YoloDev.Expecto.TestSdk                           ~> 0.14.2

    nuget BenchmarkDotNet                                   ~> 0.13.9