name: Publish
on:
  push:
    branches:
      - master
      - base-v53
    paths:
      - '**/RELEASE_NOTES.md'
      - .github/workflows/publish.yml
jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: [ubuntu-latest, windows-latest, macos-15-intel, macos-latest]
            include:
              - os: ubuntu-latest
                solution-suffix: NonWindows.slnf
              - os: windows-latest
                solution-suffix: sln
              - os: macos-15-intel
                solution-suffix: NonWindows.slnf
              - os: macos-latest
                solution-suffix: NonWindows.slnf
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dotnet
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json
      - name: Restore Tools
        run: dotnet tool restore
      - name: Restore
        run: dotnet paket restore
      - name: Build
        run: dotnet build -c Release src/Aardvark.Data.${{ matrix.solution-suffix }}
      - name: Test
        run: dotnet test src/Aardvark.Data.${{ matrix.solution-suffix }} -c Release --no-build --nologo --logger:"console;verbosity=normal"
  pack:
    name: Package
    runs-on: windows-latest
    needs: test
    steps:  
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dotnet
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json
      - name: Restore Tools
        run: dotnet tool restore
      - name: Restore
        run: dotnet paket restore
      - name: Build
        shell: cmd
        run: dotnet build -c Release src\Aardvark.Data.sln
      - name: Pack
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: dotnet aardpack src\Aardvark.Data.sln --per-project --skip-build
      - name: Upload Packages
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: bin\pack
      - name: GitHub Packages
        env:
          NUGET_KEY: ${{ secrets.GITHUB_TOKEN }}
        shell: cmd
        run: dotnet nuget push "bin\pack\**.nupkg" -k %NUGET_KEY% -s "https://nuget.pkg.github.com/aardvark-platform/index.json" --skip-duplicate
      - name: NuGet
        env:
          NUGET_KEY: ${{ secrets.NUGET_KEY }}
        shell: cmd
        run: dotnet nuget push "bin\pack\**.nupkg" -k %NUGET_KEY% -s "https://api.nuget.org/v3/index.json" --skip-duplicate